@if(showmenu){
    <div>
        <mat-toolbar color="primary" class="mat-elevation-z8">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Access Management system</span>
            <span class="example-spacer"></span>
            <span>{{loginuser}}</span>
            <button mat-button [matMenuTriggerFor]="profile"><mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #profile>
                <button mat-menu-item>Userprofile</button>
                <button mat-menu-item routerLink="/resetpassword">Resetpassword</button>
                <button mat-menu-item routerLink="/login">Logout</button>
            </mat-menu>
        </mat-toolbar>
        <mat-drawer-container autosize style="min-height: 900px;">
            <mat-drawer #drawer opened="true" mode="side" position="start">
                <mat-nav-list>
                  @for (item of Multimenulist; track $index) {
                    <mat-list-item>
                      <button mat-button (click)="toggleMenu(item.code)"><mat-icon>{{item.icon}}</mat-icon>{{item.code}}</button>
                    </mat-list-item>
                    <div [id]="item.code" style="display: block;">
                      @if(item.listChild.length > 0){
                        @for (item2 of item.listChild; track $index) {
                          <mat-list-item style="padding-left: 50px;">
                            <button mat-button [routerLink]="item2.url">{{item2.perrmission}}</button>
                          </mat-list-item>
                        }
                      }
                    </div>
                  }
                  </mat-nav-list>
            </mat-drawer>
            <mat-drawer-content>
                <div style="text-align: center;min-height: 600px;">
                    <router-outlet></router-outlet>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
}@else {
    <div style="text-align: center;min-height: 600px;">
        <router-outlet></router-outlet>
    </div>
}
